<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Task Manager</title>
</head>
<body>

    <h1>Hello, {{ name }}!</h1>

    <a href="{% url 'task_create' %}">+ Add Task</a>

    <a href="{% url 'dashboard' %}">Dashboard</a>

    <form method="get">

        <input
            type="text"
            name="search"
            placeholder="Search tasks..."
            value="{{ request.GET.search|default:'' }}"
        >

        <button type="submit">Search</button>

    </form>

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

    <h2>Your Tasks</h2>

    <div>
        <a href="{% url 'task_list' %}">All</a>

        <a href="?status=pending&search={{ request.GET.search }}">Pending</a>

        <a href="?status=in_progress&search={{ request.GET.search }}">In Progress</a>

        <a href="?status=completed&search={{ request.GET.search }}">Completed</a>
    </div>

    <div>
        <strong>Priority:</strong>

        <a href="{% url 'task_list' %}">All</a>

        <a href="?status={{ request.GET.status }}&priority=high&search={{ request.GET.search }}">High</a>

        <a href="?status={{ request.GET.status }}&priority=medium&search={{ request.GET.search }}">Medium</a>

        <a href="?status={{ request.GET.status }}&priority=low&search={{ request.GET.search }}">Low</a>
    </div>

    <div>
        <strong>Sort:</strong>

        <a href="?status={{ request.GET.status }}&priority={{ request.GET.priority }}&search={{ request.GET.search }}&sort=oldest">
            Oldest First
        </a>

        <a href="?status={{ request.GET.status }}&priority={{ request.GET.priority }}&search={{ request.GET.search }}&sort=due_date">
            Due Date
        </a>

        <a href="?status={{ request.GET.status }}&priority={{ request.GET.priority }}&search={{ request.GET.search }}&sort=newest">
            Newest First
        </a>

        <a href="{% url 'task_list' %}">Clear Filters</a>
    </div>

    {% if tasks %}

        <ul>
            {% for task in tasks %}
                <li>
                    <a href="{% url 'task_detail' task.id %}">
                        {{ task.title }}
                    </a>
                    — {{ task.get_priority_display }}
                </li>
            {% endfor %}
        </ul>

    {% else %}

        <p>You have no tasks.</p>

    {% endif %}

</body>
</html>